:host {
  height: 100vh;
}

:host *,
::content * {
  font-family: RobotoDraft, sans-serif;
  color: #333;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

html, body {
  height: 100%;
  margin: 0;
}

:host .content {
  padding: 1em;
  background-color: #fff;
}

:host h1 {
  color: #333;
  font-weight: 400;
  font-size: 1.4em;
  line-height: 1.2;
  margin: .8em 0;
}

:host .date {
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 1em;
};

#description {
  font-weight: 400;
  line-height: 1.4;
  color: #666;
}

#description .livestream {
  color: #888;
  margin: .5em 0;
}

#speakers {
  margin-top: 1em;
}

.video-icon {
  fill: #888;
  top: -2px;
}

paper-button {
  font-size: .7em;
  margin-right: 10px;
  margin-bottom: 10px;
}


#header-section {
  background-color: #00BCD4;
}

core-scroll-header-panel {
  height: 100%;
}

core-image {
  height: 260px;
}

core-header-panel .content {
  height: 500px;
}

paper-icon-button::shadow #ripple {
  color: #fff;
}

core-list {
  min-height: 200px;
}

core-list core-image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 1em;
  margin-top: .5em;
  margin-bottom: .5em;
}

core-list h3 {
  font-size: 1em;
  font-weight: 400;
}

core-list .text-block {
  font-size: .8em;
}

core-list .row {
  height: 220px;
  padding: 1em 0;
}
